@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jakarta-sans:  var(--font-jakarta-sans)
  --font-work-sans: var(--font-work-sans)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link{
  @apply min-h-[24px] block w-max md:text-sm lg:text-base text-text-primary dark:text-text-initial
}

.link-wrapper{
  @apply flex items-center
}

.dark{  
  @apply bg-[#181A2A] 
}

.dark h1, .dark h2, .dark h3, .dark span, .dark p {
  @apply text-white;
}

.light{
  @apply bg-white
}
